Repository Vishwaflr/news-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-migrations, validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

validate-migrations:
  name: Validate Alembic migrations
  entry: python
  args:
  - -m
  - alembic
  - check
  language: system
  pass_filenames: false

validate-feature-flags:
  name: Validate feature flag usage
  entry: python
  args:
  - -c
  - import sys; import ast; import re; [sys.exit(1) for f in sys.argv[1:] if "feature_flag" in open(f).read() and not re.search(r"is_feature_enabled|record_feature", open(f).read())]
  language: system

validate-repository-pattern:
  name: Validate repository pattern usage
  entry: python
  args:
  - -c
  - import sys; [sys.exit(1) for f in sys.argv[1:] if "session.exec(" in open(f).read() and "repositories/" not in f and "legacy" not in f]
  language: system

check-index-performance:
  name: Check database index performance
  entry: python
  args:
  - scripts/index_check.py
  - --ci
  language: system
  pass_filenames: false

no-raw-sql-outside-repos:
  name: Prevent raw SQL outside repository layer
  entry: python
  args:
  - -c
  - import sys; import re; [sys.exit(1) for f in sys.argv[1:] if re.search(r"SELECT|INSERT|UPDATE|DELETE", open(f).read(), re.IGNORECASE) and "repositories/" not in f and "migrations/" not in f and "legacy" not in f]
  ...

no-analysis-raw-sql:
  name: Prevent raw analysis SQL outside AnalysisRepository
  entry: scripts/check-analysis-raw-sql.sh
  language: script
  pass_filenames: false

validate-analysis-repo-usage:
  name: Validate AnalysisRepository usage patterns
  entry: python
  args:
  - -c
  ...

🧹 Repository Cleanup - Structured File Organization
  .gitignore
  =1.3.0
  add_test_analysis.py
  add_test_ui_analysis.py
  analysis_control_test.html
  analysis_page_source.html
  quick_llm_test.py
  scripts/run_analysis.py
  scripts/screenshot_tool.py
  scripts/simple_webpage_tool.py
  scripts/start_mcp_server.sh
  test_base_model.py
  test_items.py
  test_items2.py
  test_items3.py
  test_llm_manual.py
  test_llm_models.py
  test_mcp_server.py
  test_monitoring.py
  test_repo_manual.py
  test_service_layer.py
  test_simple_repo.py
  test_simple_sqlmodel.py
  test_simple_stats.py
  test_sqlmodel_debug.py
  test_stats_direct.py
  test_system_status.py
  tools/monitoring_dashboard.py
Due: none

✨ Major UI/UX Enhancement - Analysis Control Interface v3.0
  README.md
  app/api/categories.py
  app/api/feeds.py
  app/api/health.py
  app/api/items.py
  app/api/sources.py
  app/services/domain/feed_service.py
  app/web/views/analysis_control.py
  app/web/views/feed_views.py
  docs/ANALYSIS_CONTROL_INTERFACE.md
  docs/README.md
  docs/SCHEMA_IMPORT_WORKAROUND.md
  docs/UI_COMPONENTS_GUIDE.md
  scripts/start-web-server.sh
  static/news-mcp.css
  templates/admin/feeds.html
  templates/analysis_control.html
  templates/base.html
  templates/index.html
Due: validate-feature-flags, validate-repository-pattern, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

fix(mcp): stabilize TaskGroup startup by adding initialization_options parameter
  mcp_server/comprehensive_server.py
Due: none

feat: Add HTTP MCP Server with Open WebUI Integration
  .qmagent_last_check
  .qmagent_tasks.json
  README.md
  app/api/analysis_control.py
  app/api/scheduler.py
  app/api/templates.py
  app/config.py
  app/main.py
  app/services/cost_estimator.py
  docs/OPEN_WEBUI_INTEGRATION.md
  http_mcp_server.py
  mcp_server/v2_handlers.py
  mcp_server_config.json
  scripts/start_mcp_server.sh
  test_endpoints.sh
Due: validate-feature-flags, validate-repository-pattern, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

feat: Expand MCP Tools Coverage - Categories, Sources, Templates & Analysis
  .qmagent_last_check
  .qmagent_tasks.json
  http_mcp_server.py
  mcp_server/comprehensive_server.py
Due: none

🎨 Analysis Control Center v3.3 - Articles Integration & Dark Mode Optimization
  README.md
  app/web/views/analysis_control.py
  app/web/views/analysis_htmx_missing.py
  docs/ANALYSIS_CONTROL_INTERFACE.md
  docs/API_DOCUMENTATION.md
  docs/UI_COMPONENTS_GUIDE.md
  templates/analysis_control_refactored.html
  templates/base.html
Due: validate-feature-flags, no-raw-sql-outside-repos

docs: add NAVIGATOR.md and INDEX.md with system overview and hotspot mapping
  CLAUDE.md
  INDEX.md
  NAVIGATOR.md
Due: none

docs: complete project documentation overhaul
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  ENDPOINTS.md
  README.md
  app/api/analysis_jobs.py
  app/domain/analysis/control.py
  app/domain/analysis/jobs.py
  app/main.py
  app/repositories/analysis_control.py
  app/services/domain/job_service.py
  app/services/feed_fetcher_sync.py
  app/web/views/analysis_control.py
  app/web/views/analysis_htmx_clean.py
  app/web/views/analysis_htmx_missing.py
  docs/API_DOCUMENTATION.md
  docs/DATABASE_SCHEMA.md
  scripts/start-all-background.sh
  scripts/start-scheduler-background.sh
  scripts/status.sh
  scripts/stop-all.sh
  static/css/analysis.css
  static/js/analysis-controller.js
  static/js/job-manager.js
  templates/analysis_control_refactored.html
  templates/partials/analysis_active_runs.html
  templates/partials/analysis_preview_start.html
  templates/partials/analysis_target_selection.html
  test_ui_selection.html
Due: validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

chore: remove Claude-specific references from documentation
  .gitignore
  CLAUDE.md
  README_QMAGENT.md
  docs/archive/sqlproblem.md
  scripts/qmagent.py
Due: none

🚀 v3.4.0 - Live Progress Tracking & Dark Mode Fixes
  CHANGELOG.md
  README.md
  app/services/analysis_orchestrator.py
  app/web/components/item_components.py
  app/web/views/analysis_htmx_clean.py
  app/web/views/analysis_runs.py
  docs/ANALYSIS_CONTROL_INTERFACE.md
  docs/API_DOCUMENTATION.md
  docs/DATABASE_SCHEMA.md
  docs/DOCUMENTATION_STATUS.md
  docs/ERD_MERMAID.md
  docs/RELEASE_NOTES_3.4.md
  templates/analysis_control_refactored.html
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

🤖 Auto-Analysis System & Documentation Cleanup
  DATA_ARCHITECTURE.md
  DEPLOYMENT.md
  DEVELOPER_SETUP.md
  ENDPOINTS.md
  ERD_DIAGRAM.md
  INDEX.md
  NAVIGATOR.md
  REFACTORING_SUMMARY.md
  alembic/versions/2f2749931b3d_add_pending_auto_analysis_queue.py
  app/main.py
  app/models/__init__.py
  app/models/auto_analysis.py
  app/services/feed_fetcher_sync.py
  app/services/pending_analysis_processor.py
  app/web/views/auto_analysis_views.py
  app/web/views/feed_views.py
  app/worker/analysis_worker.py
  templates/index.html
Due: validate-feature-flags, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

📚 v3.1.0 - Comprehensive Documentation Update & Auto-Analysis Integration
  ENDPOINTS.md
  INDEX.md
  NAVIGATOR.md
  README.md
  TEST_REPORT_AUTO_ANALYSIS.md
  app/api/feeds.py
  app/main.py
  app/schemas.py
  app/schemas/feeds.py
  app/web/components/feed_components.py
  app/web/views/auto_analysis_views.py
  app/web/views/feed_views.py
  docs/ARCHITECTURE.md
  docs/AUTO_ANALYSIS_GUIDE.md
  docs/DOCUMENTATION_STATUS.md
  templates/admin/feeds.html
  templates/auto_analysis.html
  templates/base.html
  templates/modals.html
Due: validate-feature-flags, validate-repository-pattern, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Add complete tool descriptions and analysis result retrieval
  http_mcp_server.py
  mcp_server/v2_handlers.py
Due: none

Add auto-analysis tools and extend tool registry
  mcp_http_server.py
  mcp_server/comprehensive_server.py
Due: none

🚀 Phase 2 Complete: Auto-Analysis Production Rollout (100%)
  .env.example
  .gitignore
  alembic/versions/5d92cbb9e6b2_add_skip_tracking_to_analysis_runs.py
  app/api/analysis_management.py
  app/api/auto_analysis_monitoring.py
  app/api/feature_flags_admin.py
  app/config.py
  app/main.py
  app/models/analysis.py
  app/services/analysis_orchestrator.py
  app/services/analysis_run_manager.py
  app/services/auto_analysis_monitor.py
  app/services/auto_analysis_service.py
  app/services/pending_analysis_processor.py
  app/utils/feature_flags.py
  app/web/views/auto_analysis_views.py
  app/web/views/manager_views.py
  docs/SCHEMA_REFLECTION_ARCHITECTURE.md
  http_mcp_server.py
  mcp-http-bridge.js
  mcp_server/comprehensive_server.py
  rollout_state.json
  scripts/auto_analysis_rollout.py
  templates/admin/analysis_manager.html
  templates/base.html
  templates/components/run_stats.html
  test-bridge-with-notification.sh
  test-bridge.sh
  tests/integration/conftest.py
  windows-bridge/BRIDGE-SETUP.md
  windows-bridge/DIRECT-CLIENT-SETUP.md
  windows-bridge/UPDATE-WINDOWS-CLIENT.md
  windows-bridge/bridge-package.json
  windows-bridge/direct-client-package.json
  windows-bridge/direct-http-mcp-client.js
  windows-bridge/mcp-news-bridge.js
  windows-bridge/setup-direct-client-windows.bat
  windows-bridge/setup-news-bridge-windows.bat
  windows-bridge/test-bridge.js
  windows-bridge/test-direct-client.js
Due: validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

🧹 Repository cleanup and reorganization
  .gitignore
  .qmagent_last_check
  .qmagent_tasks.json
  ENDPOINTS.md
  INDEX.md
  NAVIGATOR.md
  mcp_server_config.json
  rollout_state.json
  scripts/testing/test-bridge-with-notification.sh
  scripts/testing/test-bridge.sh
  scripts/testing/test_endpoints.sh
Due: none

📝 Language standardization: English for all public content
  README.md
Due: none

✨ Enhance MCP Integration documentation in README
  README.md
Due: none

🎨 Integrate Analysis Cockpit v4 with unified navigation
  templates/analysis_cockpit_v4.html
Due: none

🎭 Add Playwright MCP for autonomous frontend testing
  docs/PLAYWRIGHT_MCP_SETUP.md
  package-lock.json
  package.json
  scripts/start-playwright-mcp.sh
Due: none

security: Remove sensitive credentials from repository
  .env.worker.example
  .gitignore
  scripts/update_all_docs.sh
Due: none

docs: Add comprehensive security policy documentation
  SECURITY.md
Due: none

Add project screenshots for documentation
  screenshots/Screenshot 2025-09-19 174106.png
  screenshots/Screenshot 2025-09-30 202435.png
  screenshots/Screenshot 2025-09-30 202510.png
  screenshots/Screenshot 2025-09-30 202531.png
  screenshots/Screenshot 2025-09-30 202549.png
  screenshots/Screenshot 2025-09-30 202605.png
  screenshots/Screenshot 2025-09-30 202628.png
Due: none

Organize screenshots in docs/ with documentation
  README.md
  docs/screenshots/README.md
  docs/screenshots/Screenshot 2025-09-19 174106.png
  docs/screenshots/Screenshot 2025-09-30 202435.png
  docs/screenshots/Screenshot 2025-09-30 202510.png
  docs/screenshots/Screenshot 2025-09-30 202531.png
  docs/screenshots/Screenshot 2025-09-30 202549.png
  docs/screenshots/Screenshot 2025-09-30 202605.png
  docs/screenshots/Screenshot 2025-09-30 202628.png
Due: none

Archive historical planning documents
  .gitignore
  ANALYSIS_API_CONSOLIDATION.md
  REFACTORING_PLAN.md
Due: none

Remove outdated internal documentation
  .gitignore
  README_QMAGENT.md
  TEST_REPORT_AUTO_ANALYSIS.md
Due: none

Archive German internal documentation
  .gitignore
  docs/GO_LIVE_CHECKLIST.md
  docs/GO_LIVE_CHECKLIST_ANALYSIS.md
  docs/GO_LIVE_CHECKLIST_FEEDS.md
  docs/GO_LIVE_CHECKLIST_STATISTICS.md
  docs/GO_LIVE_CHECKLIST_TEMPLATE.md
  docs/REPOSITORY_POLICY.md
Due: none

Translate documentation to English
  docs/ARCHITECTURE.md
  docs/AUTO_ANALYSIS_GUIDE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPER_SETUP.md
Due: none

Remove outdated CHANGELOG.md
  CHANGELOG.md
Due: none

Remove outdated MONITORING.md
  MONITORING.md
Due: none

Remove outdated TESTING.md
  TESTING.md
Due: none

Remove test HTML files from repository
  static/test-job-ui.html
  test_ui_selection.html
Due: none

Remove outdated MCP_SERVER_README.md
  MCP_SERVER_README.md
Due: none

Remove internal and duplicate documentation
  API_DOCUMENTATION.md
  ARCHITECTURE.md
  ENDPOINTS.md
  INDEX.md
  NAVIGATOR.md
  docs/ANALYSIS_COCKPIT_REQUIREMENTS.md
  docs/DOCUMENTATION_STATUS.md
  docs/RELEASE_NOTES_3.4.md
  docs/REPOSITORY_CUTOVER_PATTERN.md
Due: none

Archive and remove obsolete Python files
  .gitignore
  jobs/__init__.py
  jobs/dynamic_scheduler.py
  jobs/fetcher.py
  jobs/scheduler.py
  jobs/scheduler_manager.py
  scripts/check_migrations.py
  scripts/go_live_check.py
  scripts/go_live_check_analysis.py
  scripts/go_live_check_feeds.py
  scripts/go_live_check_statistics.py
  scripts/go_live_check_template.py
  scripts/index_check.py
  scripts/run_analysis.py
  scripts/screenshot_tool.py
  scripts/simple_webpage_tool.py
  tools/monitoring_dashboard.py
Due: none

Update README to emphasize MCP as primary feature
  README.md
Due: none

Change license from MIT to GPL-3.0
  LICENSE
  README.md
Due: none

Path conditions:
  validate-migrations: any of: ^alembic/versions/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  validate-feature-flags: any of: ^app/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  validate-repository-pattern: any of: ^app/api/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  check-index-performance: any of: ^(app/models/.*\.py|alembic/versions/.*\.py|app/repositories/.*\.py)$, but not: (?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$
  no-raw-sql-outside-repos: any of: ^app/.*\.py$ and \.py$ and not (^(app/repositories/.*\.py|alembic/versions/.*\.py|.*legacy.*\.py|.*test.*\.py)$) and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  no-analysis-raw-sql: any of: ^(app/worker/|app/api/|app/services/).*\.py$, but not: (?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$
  validate-analysis-repo-usage: any of: ^(app/worker/|app/api/).*\.py$ and \.py$ and not (^(.*legacy.*\.py|.*test.*\.py)$) and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
