Repository Vishwaflr/news-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-migrations, validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Path conditions:
  validate-migrations: any of: ^alembic/versions/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  validate-feature-flags: any of: ^app/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  validate-repository-pattern: any of: ^app/api/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  check-index-performance: any of: ^(app/models/.*\.py|alembic/versions/.*\.py|app/repositories/.*\.py)$, but not: (?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$
  no-raw-sql-outside-repos: any of: ^app/.*\.py$ and \.py$ and not (^(app/repositories/.*\.py|alembic/versions/.*\.py|.*legacy.*\.py|.*test.*\.py)$) and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  no-analysis-raw-sql: any of: ^(app/worker/|app/api/|app/services/).*\.py$, but not: (?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$
  validate-analysis-repo-usage: any of: ^(app/worker/|app/api/).*\.py$ and \.py$ and not (^(.*legacy.*\.py|.*test.*\.py)$) and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)

Remove scripts directory from repository
  scripts/auto_analysis_rollout.py
  scripts/check-analysis-raw-sql.sh
  scripts/fix_logging.py
  scripts/fix_sources.py
  scripts/generate_documentation.py
  scripts/generate_erd.py
  scripts/github_deploy.sh
  scripts/qmagent.py
  scripts/service-manager.sh
  scripts/setup_cutover.sh
  scripts/start-all-background.sh
  scripts/start-mcp-bridge.sh
  scripts/start-playwright-mcp-local.sh
  scripts/start-playwright-mcp.sh
  scripts/start-scheduler-background.sh
  scripts/start-scheduler.sh
  scripts/start-web-server.sh
  scripts/start-worker.sh
  scripts/start_mcp_server.sh
  scripts/status.sh
  scripts/stop-all.sh
  scripts/testing/test-bridge-with-notification.sh
  scripts/testing/test-bridge.sh
  scripts/testing/test_endpoints.sh
  scripts/update_all_docs.sh
Due: none

Remove obsolete tests directory
  tests/__init__.py
  tests/api/__init__.py
  tests/integration/conftest.py
  tests/repositories/__init__.py
  tests/repositories/test_items_repo.py
  tests/security/__init__.py
  tests/test_analysis_upsert.py
  tests/test_items_filters.py
  tests/test_llm_parse.py
Due: none

Remove obsolete code and cleanup repository
  mcp_http_server.py
  mcp_server/server.py
Due: none

Update version to v4.0.0 across all documentation
  CONTRIBUTING.md
  README.md
  app/main.py
  docs/ARCHITECTURE.md
Due: validate-feature-flags, no-raw-sql-outside-repos

v4.1.0 - Documentation Update & Enhanced Error Handling (#1)
  README.md
  ROADMAP_OVERVIEW.md
  ROADMAP_SPRINT1.md
  WIKI_UPLOAD_INSTRUCTIONS.md
  app/api/config.py
  app/api/metrics.py
  app/models/analysis.py
  app/services/adaptive_rate_limiter.py
  app/services/analysis_orchestrator.py
  app/services/pending_analysis_processor.py
  app/services/prometheus_metrics.py
  app/services/queue_limiter.py
  app/web/views/analysis/settings.py
  docs/BASELINE_METRICS.md
  docs/SPRINT1_PROGRESS.md
  templates/admin/analysis_manager.html
  templates/analysis_cockpit_v4.html
  templates/base.html
  tests/test_backpressure.py
  tests/test_prometheus_metrics.py
  wiki/API-Overview.md
  wiki/Analysis-Cockpit.md
  wiki/Architecture.md
  wiki/Auto-Analysis-Dashboard.md
  wiki/Claude-Desktop-Setup.md
  wiki/Configuration.md
  wiki/Dashboard-Overview.md
  wiki/Database-Schema.md
  wiki/Home.md
  wiki/Installation.md
  wiki/MCP-Examples.md
  wiki/MCP-Integration.md
  wiki/MCP-Remote-Access.md
  wiki/Manager-Control-Center.md
  wiki/Quick-Start.md
  wiki/README.md
  wiki/Reference-Environment.md
  wiki/Reference-URLs.md
  wiki/Troubleshooting-Common.md
Due: validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

fix: Add missing Content Distribution templates
  templates/admin/content_templates.html
  templates/admin/template_detail.html
Due: none

fix: Add Content Distribution views and register routes
  app/main.py
  app/web/views/template_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

feat: Add Content Templates to navigation menu
  templates/base.html
Due: none

Update all documentation to v4.1.0 (Priority 1-3 complete)
  ENDPOINTS.md
  NAVIGATOR.md
  README.md
  app/services/scheduler_runner.py
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
  docs/AUTO_ANALYSIS_GUIDE.md
  docs/DOCUMENTATION_CHECKLIST.md
  docs/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/Database-Schema.md
  docs/WIKI_UPDATE_SUMMARY.md
  docs/WORKER_README.md
  docs/WORK_SESSION_STATE.md
  wiki/API-Overview.md
  wiki/Analysis-Cockpit.md
  wiki/Architecture.md
  wiki/Auto-Analysis-Dashboard.md
  wiki/Claude-Desktop-Setup.md
  wiki/Configuration.md
  wiki/Dashboard-Overview.md
  wiki/Database-Schema.md
  wiki/Home.md
  wiki/Installation.md
  wiki/MCP-Examples.md
  wiki/MCP-Integration.md
  wiki/MCP-Remote-Access.md
  wiki/Manager-Control-Center.md
  wiki/Quick-Start.md
  wiki/README.md
  wiki/Reference-Environment.md
  wiki/Reference-URLs.md
  wiki/Troubleshooting-Common.md
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Rename ContentTemplate to SpecialReport (Phase 1: Database & Core Models)
  alembic/versions/3d13c4217df7_add_llm_instruction_fields_to_content_.py
  alembic/versions/9f81604f3222_rename_content_templates_to_special_.py
  app/api/v2/special_reports.py
  app/models/content_distribution.py
  app/schemas/content_distribution.py
Due: validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Rename ContentTemplate to SpecialReport (Phase 2: Frontend Templates & Views)
  app/web/views/special_report_views.py
  templates/admin/special_report_detail.html
  templates/admin/special_reports.html
  templates/admin/special_reports_old.html
  templates/htmx/special_reports_list.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Rename ContentTemplate to SpecialReport (Phase 3: Worker & Documentation)
  app/worker/content_generator_worker.py
  docs/ARCHITECTURE.md
  docs/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/Database-Schema.md
  docs/WORK_SESSION_STATE.md
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Add missing content_query_builder service module
  app/services/content_query_builder.py
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Fix template rename: update routes and navigation
  app/main.py
  app/web/views/special_report_views.py
  templates/admin/special_report_detail.html
  templates/base.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix HTMX route in special_reports.html
  templates/admin/special_reports.html
Due: none

Complete template → special_report variable rename
  app/web/views/special_report_views.py
  templates/admin/special_report_detail.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix Special Reports Edit form - Import error and keyword handling
  app/web/views/special_report_views.py
  templates/admin/special_reports.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Add comprehensive Special Reports flow documentation
  docs/Special-Reports-Flow.md
Due: none

Add dedicated Special Reports edit page with live test
  app/web/views/special_report_views.py
  templates/admin/special_report_edit.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix Item import error in test endpoint
  app/web/views/special_report_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix column name: published_at → published
  app/web/views/special_report_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Rewrite test selection query to use item_analysis JOIN
  app/web/views/special_report_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix SQL parameter binding syntax
  app/web/views/special_report_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Implement three-panel layout (Config | Articles | Test)
  app/web/views/special_report_views.py
  templates/admin/special_report_edit.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Add granular sentiment filtering with enable/disable toggles
  app/web/views/special_report_views.py
  templates/admin/special_report_edit.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Add GET support to articles endpoint + comprehensive E2E tests
  app/web/views/special_report_views.py
  tests/e2e/special-reports-edit.spec.js
Due: validate-feature-flags, no-raw-sql-outside-repos

Remove enable toggles - use 0 as disabled state for filters
  app/web/views/special_report_views.py
  templates/admin/special_report_edit.html
  tests/e2e/special-reports-edit.spec.js
Due: validate-feature-flags, no-raw-sql-outside-repos

Add geopolitical sentiment display to items view
  app/web/views/item_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Add Finance and Geopolitical display blocks to items view
  app/api/v2/__init__.py
  app/main.py
  app/web/components/item_components.py
  app/web/views/item_views.py
  test-results/.last-run.json
  test-results/tests-e2e-analysis-config--d1c21-bmit-form-and-update-config/error-context.md
  test-results/tests-e2e-analysis-config--ec9fa-should-persist-after-reload/error-context.md
Due: validate-feature-flags, validate-repository-pattern, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Optimize Finance/Geopolitical blocks layout - move to right column
  app/web/components/item_components.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix sticky sidebar - Finance/Geopolitical blocks now render
  templates/admin/items.html
  tests/e2e/items-sidebar.spec.js
Due: none

Move Finance/Geopolitical blocks inline - Remove hover sidebar
  app/web/components/item_components.py
  templates/admin/items.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix: Move Finance/Geopolitical blocks to RIGHT of article text
  app/web/components/item_components.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Finance and Geopolitical blocks now side-by-side horizontally
  app/web/components/item_components.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Add Finance and Geopolitical analysis blocks to items page
  app/web/components/item_components.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix Feed buttons - Toggle status visibility and Delete functionality
  app/services/domain/feed_service.py
  app/web/components/feed_components.py
  tests/e2e/feed-fixes.spec.js
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Add Feed Lifecycle Management (Edit, Archive, Delete with Preflight)
  NAVIGATOR.md
  app/main.py
  app/models/core.py
  app/services/feed_health_service.py
  app/web/components/base_component.py
  app/web/components/item_components.py
  app/web/views/admin_views.py
  app/web/views/feed_views.py
  app/web/views/manager_views.py
  docs/Feed-Management-Redesign-Plan.md
  migrations/20251003_add_feed_analytics_columns.sql
  static/news-mcp.css
  templates/admin/feeds_v2.html
  templates/admin/partials/feed_detail.html
  templates/admin/partials/feed_list.html
  templates/base.html
  templates/index.html
  tests/e2e/feed-buttons.spec.js
Due: validate-feature-flags, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql

Fix Feed Delete - Add processor_config cascade and Query parameter defaults
  SESSION_STATUS.md
  app/services/domain/feed_service.py
  app/web/views/feed_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Fix Feed Delete - Add all missing CASCADE deletes (partial fix)
  app/services/domain/feed_service.py
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql
