Repository Vishwaflr/news-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-migrations, validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

validate-migrations:
  name: Validate Alembic migrations
  entry: python
  args:
  - -m
  - alembic
  - check
  language: system
  pass_filenames: false

validate-feature-flags:
  name: Validate feature flag usage
  entry: python
  args:
  - -c
  - import sys; import ast; import re; [sys.exit(1) for f in sys.argv[1:] if "feature_flag" in open(f).read() and not re.search(r"is_feature_enabled|record_feature", open(f).read())]
  language: system

validate-repository-pattern:
  name: Validate repository pattern usage
  entry: python
  args:
  - -c
  - import sys; [sys.exit(1) for f in sys.argv[1:] if "session.exec(" in open(f).read() and "repositories/" not in f and "legacy" not in f]
  language: system

check-index-performance:
  name: Check database index performance
  entry: python
  args:
  - scripts/index_check.py
  - --ci
  language: system
  pass_filenames: false

no-raw-sql-outside-repos:
  name: Prevent raw SQL outside repository layer
  entry: python
  args:
  - -c
  - import sys; import re; [sys.exit(1) for f in sys.argv[1:] if re.search(r"SELECT|INSERT|UPDATE|DELETE", open(f).read(), re.IGNORECASE) and "repositories/" not in f and "migrations/" not in f and "legacy" not in f]
  ...

no-analysis-raw-sql:
  name: Prevent raw analysis SQL outside AnalysisRepository
  entry: scripts/check-analysis-raw-sql.sh
  language: script
  pass_filenames: false

validate-analysis-repo-usage:
  name: Validate AnalysisRepository usage patterns
  entry: python
  args:
  - -c
  ...

Move unreferenced templates to deprecated (10 files, 911 LOC)
  templates/_deprecated/2025-10-04/analysis_active_runs.html
  templates/_deprecated/2025-10-04/analysis_additional_filters.html
  templates/_deprecated/2025-10-04/analysis_additional_settings.html
  templates/_deprecated/2025-10-04/analysis_model_params.html
  templates/_deprecated/2025-10-04/analysis_preview_start.html
  templates/_deprecated/2025-10-04/analysis_settings.html
  templates/_deprecated/2025-10-04/analysis_target_selection.html
  templates/_deprecated/2025-10-04/job_confirmation_modal.html
  templates/_deprecated/2025-10-04/job_status_panel.html
  templates/_deprecated/2025-10-04/special_reports_old.html
  templates/admin/analysis_manager.html
  templates/admin/database.html
  templates/admin/feeds.html
  templates/admin/feeds_v2.html
  templates/admin/partials/feed_list.html
  templates/admin/processors.html
  templates/admin/special_report_detail.html
  templates/admin/special_report_edit.html
  templates/admin/special_reports.html
  templates/admin/statistics.html
Due: none

Refactor analysis_manager.html (720 → 23 LOC + components)
  templates/admin/analysis_manager.html
  templates/admin/components/analysis_manager/control_buttons.html
  templates/admin/components/analysis_manager/runs_and_metrics.html
  templates/admin/components/analysis_manager/status_cards.html
  templates/admin/components/analysis_manager/system_tools.html
  templates/admin/scripts/analysis_manager.html
Due: none

Refactor processors.html - Phase 2.2 (594→51 LOC, -91%)
  templates/admin/components/processors/status_header.html
  templates/admin/components/processors/tab_config.html
  templates/admin/components/processors/tab_health.html
  templates/admin/components/processors/tab_operations.html
  templates/admin/processors.html
  templates/admin/scripts/processors.html
  templates/admin/styles/processors.html
Due: none

Refactor database.html - Phase 2.3 (556→30 LOC, -94.6%)
  templates/admin/components/database/query_editor.html
  templates/admin/components/database/query_history.html
  templates/admin/components/database/query_results.html
  templates/admin/components/database/quick_queries.html
  templates/admin/components/database/sidebar.html
  templates/admin/database.html
  templates/admin/scripts/database.html
  templates/admin/styles/database.html
Due: none

Refactor statistics.html - Phase 2.4 (493→25 LOC, -94.9%)
  templates/admin/components/statistics/category_health.html
  templates/admin/components/statistics/charts.html
  templates/admin/components/statistics/feed_details_modal.html
  templates/admin/components/statistics/feed_performance.html
  templates/admin/components/statistics/header.html
  templates/admin/components/statistics/overview_cards.html
  templates/admin/components/statistics/refresh_button.html
  templates/admin/scripts/statistics.html
  templates/admin/statistics.html
  templates/admin/styles/statistics.html
Due: none

Add service start/stop controls to dashboard
  app/web/views/manager_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix feed deletion cascade - Add missing FK cleanup
  app/services/domain/feed_service.py
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Fix Pydantic V2 deprecation warnings in MCP server
  http_mcp_server.py
Due: none

Remove duplicate HTMX items list implementations
  app/web/components/item_components.py
  app/web/items_htmx.py
  app/web/views/item_views.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Major documentation cleanup and reorganization
  DOCUMENTATION_CLEANUP_2025-10-04.md
  ENDPOINTS.md
  NAVIGATOR.md
  docs/CLEANUP_POLICY.md
  docs/CODEBASE_MAP.md
  docs/DEPRECATIONS.md
  docs/DOCUMENTATION_CHECKLIST.md
  docs/README.md
  docs/REFACTOR_PLAN.md
  docs/WORK_SESSION_STATE.md
  docs/archive/API_DOCUMENTATION.md
  docs/archive/API_EXAMPLES.md
  docs/archive/DATABASE_SCHEMA_2025-09-27.md
  docs/archive/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/archive/ERD_MERMAID.md
  docs/archive/README.md
  docs/archive/SPRINT1_PROGRESS.md
  docs/archive/WIKI_UPDATE_SUMMARY.md
  docs/core/ARCHITECTURE.md
  docs/core/DEPLOYMENT.md
  docs/core/DEVELOPER_SETUP.md
  docs/core/Database-Schema.md
  docs/features/AUTO_ANALYSIS_GUIDE.md
  docs/features/FEATURE_FLAGS.md
  docs/features/Feed-Management-Redesign-Plan.md
  docs/features/SENTIMENT_GUIDE.md
  docs/features/Special-Reports-Flow.md
  docs/guides/CLAUDE_CLI_PLAYWRIGHT_CONFIG.md
  docs/guides/OPEN_WEBUI_INTEGRATION.md
  docs/guides/PLAYWRIGHT_MCP_SETUP.md
  docs/guides/UI_COMPONENTS_GUIDE.md
  docs/guides/WORKER_README.md
  docs/operations/BASELINE_METRICS.md
  docs/operations/Backup-Strategy.md
  docs/operations/Database-Rebuild-2025-10-04.md
Due: none

Display semantic tags in frontend items list
  app/web/components/item_components.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Remove unused item_components_new.py (code cleanup)
  app/web/components/item_components_new.py
Due: validate-feature-flags, no-raw-sql-outside-repos

Add semantic tags to MCP API responses
  mcp_server/v2_handlers.py
Due: none

Phase 1 & 2: Research Pipeline Foundation
  alembic/versions/fc340788ce64_add_research_pipeline_tables.py
  app/models/__init__.py
  app/models/research.py
  app/repositories/research_repo.py
Due: validate-feature-flags, check-index-performance, no-raw-sql-outside-repos

Fix article filter count bug - ensure all filters applied to COUNT query
  app/services/research/article_filter.py
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Implement MCP Resources and Discovery Tools + Complete Research Documentation
  docs/FEATURES.md
  docs/MCP-AND-RESEARCH-STATUS.md
  docs/MCP_REFACTORING_ANALYSIS.md
  docs/Perplexity-API-Reference.md
  docs/Perplexity-MCP-Integration-Analysis.md
  docs/Research-Templates-Complete-Guide.md
  http_mcp_server.py
  mcp_server/comprehensive_server.py
  mcp_server/resources.py
  mcp_server/v2_handlers.py
Due: none

Add comprehensive MCP Resources implementation summary
  docs/MCP-RESOURCES-SUMMARY.md
Due: none

Add quick-start guide for MCP Resources
  docs/QUICK-START-MCP-RESOURCES.md
Due: none

Phase 1: Perplexity Research Service - Foundation
  alembic/versions/4d231da722a4_add_research_templates_and_research_.py
  app/api/research.py
  app/models/research.py
  app/repositories/research_run_repo.py
  app/repositories/research_template_repo.py
  app/services/perplexity/__init__.py
  app/services/perplexity/functions/__init__.py
  app/services/perplexity/functions/analytics_research.py
  app/services/perplexity/functions/domain_filtered_research.py
  app/services/perplexity/functions/pipeline_research.py
  app/services/perplexity/functions/structured_research.py
  app/services/perplexity/functions/time_filtered_research.py
  app/services/perplexity/perplexity_client.py
  app/services/perplexity/research_executor.py
Due: validate-feature-flags, validate-repository-pattern, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Phase 2: Research Service - Web UI
  app/main.py
  app/web/views/research_views.py
  templates/admin/research.html
  templates/admin/research_run_detail.html
  templates/admin/research_runs.html
  templates/admin/research_template_edit.html
  templates/admin/research_templates.html
Due: validate-feature-flags, no-raw-sql-outside-repos

Fix: Remove old research model imports from __init__.py
  app/models/__init__.py
Due: validate-feature-flags, check-index-performance, no-raw-sql-outside-repos

Fix Perplexity API integration and add query input modal
  app/config.py
  app/services/auto_analysis_config.py
  app/services/perplexity/functions/analytics_research.py
  app/services/perplexity/functions/domain_filtered_research.py
  app/services/perplexity/functions/pipeline_research.py
  app/services/perplexity/functions/structured_research.py
  app/services/perplexity/functions/time_filtered_research.py
  app/services/perplexity/perplexity_client.py
  app/services/perplexity/research_executor.py
  app/services/research/llm_query_generator.py
  app/services/research/perplexity_client.py
  app/web/views/auto_analysis_views.py
  app/web/views/research_views.py
  config/auto_analysis_config.json
  docs/Research-Templates-Complete-Guide-verworfen.md
  templates/admin/research.html
  templates/analysis/components/manual_settings.html
  templates/auto_analysis.html
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Update LLM model options to GPT-5 series with gpt-5-nano as default
  templates/admin/research_template_edit.html
Due: none

Simplify research template form - remove LLM configuration
  templates/admin/research_template_edit.html
Due: none

Add Perplexity model selector to Research Templates
  app/services/perplexity/perplexity_client.py
  app/services/perplexity/research_executor.py
  templates/admin/research_template_edit.html
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Add Test functionality to Research Template editor
  app/api/research.py
  templates/admin/research_template_edit.html
Due: validate-feature-flags, validate-repository-pattern, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Implement dynamic parameter forms for Research Templates
  app/api/research.py
  app/services/perplexity/functions/analytics_research.py
  app/services/perplexity/functions/domain_filtered_research.py
  app/services/perplexity/functions/pipeline_research.py
  app/services/perplexity/functions/structured_research.py
  app/services/perplexity/functions/time_filtered_research.py
  templates/admin/research_template_edit.html
Due: validate-feature-flags, validate-repository-pattern, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Add curated Top-20 domain list to research function schemas
  app/services/perplexity/functions/analytics_research.py
  app/services/perplexity/functions/domain_filtered_research.py
  app/services/perplexity/functions/time_filtered_research.py
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Fix domain list display - use textarea value instead of placeholder
  templates/admin/research_template_edit.html
Due: none

Fix newline conversion in domain textarea - JSON escapes \n
  templates/admin/research_template_edit.html
Due: none

Add scraper toggle to Feed Management UI (backend ready)
  app/api/feeds.py
  app/schemas/feeds.py
  app/web/views/feed_views.py
Due: validate-feature-flags, validate-repository-pattern, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Add auto-scraping with error tracking and safety mechanisms
  app/models/core.py
  app/services/auto_scraper_service.py
Due: validate-feature-flags, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql

Integrate auto-scraping into sentiment analysis workflow
  app/repositories/analysis_queue.py
  app/services/analysis_orchestrator.py
  app/worker/analysis_worker.py
Due: validate-feature-flags, check-index-performance, no-raw-sql-outside-repos, no-analysis-raw-sql, validate-analysis-repo-usage

Add scraper service infrastructure and Alembic migration
  .mcp.json.README.md
  .mcp.json.example
  alembic/versions/1cdf2db9772f_add_scraper_fields_to_feeds_and_items_.py
  app/services/scraper_service.py
  app/web/views/scraper_views.py
  docs/archive/CLAUDE_CLI_PLAYWRIGHT_CONFIG.md
  docs/archive/PLAYWRIGHT_MCP_SETUP.md
  docs/guides/PLAYWRIGHT_TESTING.md
  templates/admin/partials/scraper_result.html
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Improve Perplexity research with enhanced error handling and UI
  app/services/perplexity/functions/time_filtered_research.py
  app/services/perplexity/perplexity_client.py
  templates/admin/research_run_detail.html
  templates/admin/research_template_edit.html
Due: validate-feature-flags, no-raw-sql-outside-repos, no-analysis-raw-sql

Update configs, dependencies, and feed components
  app/main.py
  app/web/components/feed_components.py
  config/auto_analysis_config.json
  requirements.txt
Due: validate-feature-flags, no-raw-sql-outside-repos

Cleanup: Remove obsolete configs and reorganize documentation
  .mcp.json
  docs/guides/CLAUDE_CLI_PLAYWRIGHT_CONFIG.md
  docs/guides/PLAYWRIGHT_MCP_SETUP.md
  test-results/.last-run.json
Due: none

Update .gitignore and README for v4.2.0 release
  .gitignore
  README.md
Due: none

Update README.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/alembic-check.yml
  .github/workflows/analysis-repo-check.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/schemaspy.yml
  .github/workflows/test.yml
  README.md
Due: none

Path conditions:
  validate-migrations: any of: ^alembic/versions/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  validate-feature-flags: any of: ^app/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  validate-repository-pattern: any of: ^app/api/.*\.py$ and \.py$ and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  check-index-performance: any of: ^(app/models/.*\.py|alembic/versions/.*\.py|app/repositories/.*\.py)$, but not: (?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$
  no-raw-sql-outside-repos: any of: ^app/.*\.py$ and \.py$ and not (^(app/repositories/.*\.py|alembic/versions/.*\.py|.*legacy.*\.py|.*test.*\.py)$) and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
  no-analysis-raw-sql: any of: ^(app/worker/|app/api/|app/services/).*\.py$, but not: (?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$
  validate-analysis-repo-usage: any of: ^(app/worker/|app/api/).*\.py$ and \.py$ and not (^(.*legacy.*\.py|.*test.*\.py)$) and not ((?x)^(
  # Exclude generated files
  alembic/versions/.*\.py|
  # Exclude third-party files
  static/vendor/.*|
  # Exclude compiled files
  .*\.pyc|
  .*\.pyo|
  # Exclude temporary files
  \..*\.swp|
  \..*\.tmp|
  # Exclude log files
  .*\.log|
  # Exclude backup files
  .*\.bak|
  # Exclude cache directories
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.ruff_cache/.*
)$)
